@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.head {
	text-align: right;
	font-family : 'Material Icons';
	background-color: black;
	width: 100%;
}

a {
	font-family : 'Material Icons';
	text-decoration-line: none;
	color: white;
}