@charset "UTF-8";

body {
	margin: 0;
	height: 100vh;
}

header {
	height: 180px;
}

.container {
	display: flex;
}

aside, article {
	height: calc(100vh - 250px);
}

aside {
	flex: 1;
}

article {
	flex: 3;
	border-right: solid 1px black;
	border-left: solid 1px black;
}

footer {
	margin-top: 10px;
	text-align: center;
	height: 70px;
	background-color: black;
}

/* 로그인 폼 테두리 스타일 */
.login-form {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	width: 400px; /* 가로 크기 조정 */
	margin: 0 auto; /* 가운데 정렬 */
}

/* 로그인 폼 input 요소 스타일 */
.login-form input {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/* 로그인 폼 hover 효과 */
.login-form:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* 로그인 제목 스타일 */
.login-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

/* 회원가입 폼 테두리 스타일 */
.join-form {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	width: 650px; /* 가로 크기 조정 */
	margin: 0 auto; /* 가운데 정렬 */
}

/* 회원가입 폼 input 요소 스타일 */
.join-form input {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/* 회원가입 폼 hover 효과 */
.join-form:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* 회원가입 제목 스타일 */
.join-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

/* 게시판 a태그 처리 */
.BoardTitle {
	text-decoration: none;
	color: black;
}

.BoardFile {
	text-decoration: none;
	color: #0404B4;
}